@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Medium.woff2') format('woff2'),
        url('./fonts/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Light.woff2') format('woff2'),
        url('./fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('./fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-Regular.woff2') format('woff2'),
        url('./fonts/Caveat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('./fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('./fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Black.woff2') format('woff2'),
        url('./fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Extrabold.woff2') format('woff2'),
        url('./fonts/ProximaNova-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body{
	font-family: 'Proxima Nova Rg';
	    padding-top: 84px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Proxima Nova';
	color:#000;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.site-header.topmain nav.navbar {
       border: 1.5px solid #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    max-width: 1186px;
    margin: auto;
    padding: 0;
}

.site-header.topmain {
    background: #000;
    padding: 13px 0;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
	transition:all ease 0.5s;
}

.site-header.topmain.mobexheight.navfixed {
        padding: 3px 0;
}

.site-header.topmain .navbar .navbar-nav li a {
    color: #fff;
	font-family: 'Proxima Nova';
	padding: 0 16px;
	text-transform: uppercase;
	    font-size: 14px;
        font-weight: 700;
}

.site-header.topmain .navbar-brand {
    margin: 0;
    padding: 11px 17px;
    width: 70px;
    text-align: center;
    border-right: 1px solid #fff;
}

.site-header.topmain .navbar-brand img {
    width: 100%;
}

.site-header.topmain .navbar .navbar-nav li {
       margin: auto 10px;
}


.site-header.topmain .navbar li.nav-item.commctas {
    display: flex;
    border: 1.5px solid #fff;
    padding: 7px 6px;
    border-radius: 37px;
}

.site-header.topmain .navbar li.nav-item.commctas .nav-link.active {
    background: #fff;
    color: #000;
}

.site-header.topmain .navbar li.nav-item.commctas .nav-link {
    border-radius: 37px;
    padding: 4px 19px;
	    margin: auto;
}

/* css for conditional headers */

/* for white heder */

.site-header.topmain.white-hdr {
    background: #fff;
}

.site-header.topmain.white-hdr nav.navbar {
    border: 1.5px solid #000;
}

.site-header.topmain.white-hdr .navbar .navbar-nav li a {
    color: #000;
}

.site-header.topmain.white-hdr .navbar-brand img {
    filter: invert(1);
}

.site-header.topmain.white-hdr .navbar li.nav-item.commctas {
    border: 1.5px solid #000;
    background: #000;
}

.site-header.topmain.white-hdr .navbar li.nav-item.commctas .nav-link {
    background: #000;
    color: #fff;
}


.site-header.topmain.white-hdr .navbar li.nav-item.commctas .nav-link.active {
    background: #fff;
    color: #000;
}

.site-header.topmain.white-hdr .navbar-brand{
    border-right: 1.5px solid #000;
}


/* css for black header */

.site-header.topmain.black-hdr{
	background: #000;
}

.site-header.topmain.black-hdr nav.navbar {
    border: 1.5px solid #fff;
}

.site-header.topmain.black-hdr .navbar .navbar-nav li a {
    color: #fff;
}

.site-header.topmain.black-hdr .navbar li.nav-item.commctas {
    border: 1.5px solid #fff;
    background: #000;
}

.site-header.topmain.black-hdr .navbar li.nav-item.commctas .nav-link{
     background: #000;
    color: #fff;
}

.site-header.topmain.black-hdr .navbar li.nav-item.commctas .nav-link.active{
     background: #fff;
    color: #000;
}


.site-header.topmain.black-hdr .navbar-brand{
    border-right: 1.5px solid #fff;
}


/* css for web page load */

.fstfoldes {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    left: 0;
    height: 100%;
    z-index: 9;
    display: flex;
    text-align: center;
}

.fstfoldes .co-md-6 {
    margin: auto;
}

.fstfoldes .row {
    margin: auto;
	    width: 100%;
}

.fstfoldes img {
    width:409px;
}

.fstfoldes:after {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    z-index: -2;
}

.fstfoldes .objflts {
    position: absolute;
    width: auto;
}

.fstfoldes .col-md-6:nth-child(1) .objflts {
        width: 73px;
    left: -53px;
    
    bottom: -24px;
    position: absolute;
    transition: transform 2s ease-in-out;
    animation: bombani 2s ease-out 0s infinite normal;
}


.fstfoldes .col-md-6:nth-child(2) .objflts {
    width: 70px;
    right: 73px;
    top: -25px;
    z-index: 2;
    position: absolute;
    animation: flipmyic 10s linear 0s infinite;
}

.fstfoldes .col-md-6:nth-child(2)  .objflts.bomonsd {
    animation: none;
    width: 28px;
    position: absolute;
    transform: translate(-18px, 19px);
}

@keyframes flipmyic {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bombani {
    0%{
        transform: rotate(0deg);
     }
 
     50%{
         transform: rotate(18deg);
     }
 
     100%{
         transform: rotate(0deg);
     }
}

@keyframes leftslides{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0px);
    }
}

.fstfoldes .sfttop{
    animation: leftslides 1s;
    position: relative;
    z-index: 3;
}

.fstfoldes .col-md-6:nth-child(2) a img {
    z-index: 4;
    position: relative;
}

.fstfoldes .col-md-6  a {
    position: relative;
	 display: block;
    max-width: 411px;
    margin: auto;
}




/* home section design */


.homebannnerk {
    overflow: hidden;
     height: calc(100vh - 0px);
    min-height: 536px;
    width: 100%;
    position: relative;
	display:flex;
}

.layerfires {
    background: url('./images/flamesprdfull.png');
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    transition: all ease 2s;
    margin: auto;
    top: 0px;
    background-size: cover;
}

.cregreen {
    background: url(./images/girlmovesfull.png);
    width: 100%;
    height: 89%;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    padding: 0;
    margin: auto;
    z-index: 4;
}


.homebannnerk.revealer.aos-init .layerfires {
    animation: none;
}

.homebannnerk .layerfires {
    animation: moveline 2s infinite;
}

.homebannnerk .cregreen{
   animation: movelinecreat 3s infinite; 
}


@keyframes moveline{
	0%{
		height:0px;
	}
	100%{
		    height: 90%;
	}
}

.homebannnerk .mainbn-hd {
    font-size: 44px;
    color: #fff;
    font-weight: 700;
}

.homebannnerk .str-yells img {
    width: 177px;
    position: absolute;
    left: -6px;
    z-index: -2;
    top: -10px;
}

.homebannnerk .str-yells {
    position: relative;
}

.homebannnerk .container {
    z-index: 3;
    margin: auto;
    margin-bottom: 100px;
}

.homebannnerk .desktopayout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.homebannnerk img {
    width: 100%;
}

.homebannnerk .mobstopayout {
    display: none;
}

.homebannnerk .desktopayout {
    display: block;
}




/* css for second section */

.mdhouseslide.desktlyts {
    display: block;
}

.mdhouseslide.moblyts {
    display: none;
}

.mdhouseslide img {
    width: 100%;
}

.mdhouseslide h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 27px;
    margin: 20px 0 4px 0;
    font-family: 'Proxima Nova';
	    line-height: 30px;
}

.mdhouseslide a {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Proxima Nova';
    text-decoration: none;
}

.rdstrokes img {
    transform: translateY(-79px);
    transition:all ease 0.8s;
}

.rdstrokes {
    overflow: hidden;
}

.owl-carousel .owl-item:hover .rdstrokes img{
    transform: translateX(0px);
}

.letsyoubet {
    padding: 40px 0;
}

.mainhead {
    text-align: center;
    margin-bottom: 42px;
	
}

.mainhead .centheads {
	font-weight: 700;
	font-family: 'Proxima Nova';
	font-size: 49px;
	line-height: 43px;
	margin-bottom: 24px; 
	position: relative;
	display: inline-block;
	color: #000;
}

.mainhead .subbol {
    font-size: 24px;
}

.centheads .anmemojs {
    width: 58px;
    position: absolute;
    left: -42px;
	    -webkit-animation-name: wobble;
        animation-name: wobble;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.mainhead .sbhds {
    margin-bottom: 0;
	font-family: 'Proxima Nova Rg';
	font-size: 24px;
	margin: auto;
}

.revealer.aos-init.aos-animate .mainhead .sbhds,
.revealer.aos-init.aos-animate p.curvtxt {
	animation: typewriter 8s, infinite normal;
	overflow: hidden;
    white-space: nowrap;
}

.mdhouseslide .col-md-3 {
    padding: 0 5px;
}

.mdhouseslide .col-md-3:nth-child(even) {
    margin-top: 61px;
}


.blacklayers .owl-carousel .item img {
    width: 50%;
    filter: grayscale(1);
    transition: all ease 0.5s;
}

.blacklayers .owl-carousel img:hover {filter: none;transform: scale(1.1)  !important;}

.blacklayers {
    background: url('./images/slidebga.png');
    background-size: cover;
    padding: 47px 0;
    background-position: center;
}


.hhcase-txt {
    position: relative;
    overflow: hidden;
}

.hhcase-txt .cse-txts{
    z-index: 4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #fff;
    left: 0;
    margin: auto;
    transform: scale(1.1);
    background: #0000008c;
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
}

.hhcase-txt .cse-txts:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 19%;
   /* background: #000000; */
    background-attachment: fixed;
    -webkit-filter: blur(13px);
    filter: blur(13px);
    transform: scale(3) translateY(20px);
    padding: 51px;
    z-index: -2;
}

.hhcase-txt .cse-txts p {
    position: absolute;
    margin: auto;
    bottom: 0;
    padding:15px 15px 8px;
}

.hhcase-txt:hover .cse-txts {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}


.whygridsphn .owl-nav button {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 44px;
}

.whygridsphn .owl-nav button span {
    width: 40px;
    font-size: 0;
    background: url('./images/arrowside.png');
    padding: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.whygridsphn .owl-nav .owl-next {
    float: right;
}

.whygridsphn .owl-nav .owl-prev {
    float: left;
    transform: rotateY(180deg);
}

.whygridsphn .owl-nav {
    padding: 50px 0 0 0;
}

.whygridsphn.owl-theme .owl-nav [class*=owl-]:hover,
.whygridsphn.owl-theme .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}


.mdhouseslide .owl-item.active:nth-child(even) {
    padding-top: 44px;
}

.mdhouseslide .owl-item.active:nth-child(odd) {
    padding-top: 0;
}


/* css for showcase section */


.showcaseytbs .desktopayout {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -2;
}

.showcaseytbs {
    position: relative;
	padding: 50px 0 30px 0;
    top: -42px;
}

.showcaseytbs .mdhouseslide .owl-item.active:nth-child(even) {
    padding-top: 0;
}

.showcaseytbs:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 29%;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: -2;
}

.showcaseytbs h2, .showcaseytbs p.curvtxt {
    color: #fff;
}

.showcaseytbs h2 {
    font-family: 'Proxima Nova';
    font-size: 43px;
    font-weight: 700;
}


span.antxon1 {
    font-weight: 100;
    animation: mvfontone 2s infinite;
    position: relative;
    margin: 0 0px 0 0;
    animation-delay: calc(0 * 150ms);
    transition: ease-in-out .4s ease-in-out;
}

span.antxon1.anoanim {
    animation: mvfontone2 2s infinite 0s normal;
    animation-delay: calc(2 * 150ms);
    transition: ease-in-out .4s ease-in-out;
}

span.antxon2 {
    animation: mvfontone 2s infinite;
}

@keyframes mvfontone {
    0%{font-weight: 100; }

    20%{font-weight: 700;}

   30%{font-weight: 700; }

   40%{ font-weight: 700; }

   60%{ font-weight: 700; }

   80%{font-weight: 300; }

   100%{font-weight: 100; }
}

@keyframes mvfontone2 {
   0%{font-weight: 700; }

   20%{font-weight: 300;}

  30%{font-weight: 100; }

  40%{ font-weight: 100; }

  60%{ font-weight: 100; }

  80%{font-weight: 300; }

  100%{font-weight: 700; }
}

.showcaseytbs p.curvtxt {
    font-family: 'Caveat';
	    font-size: 27px;
    line-height: 27px;
    margin: 0;
}

.showcaseytbs img {
    width: 100%;
}

.showcaseytbs .mdhouseslide {
    padding-top: 100px;
}

.showcaseytbs .mdhouseslide {
    padding-top: 100px;
}

.showcaseytbs .mdhouseslide p {
    font-weight: 600;
    margin: 20px 0 0 0;
}

.showcaseytbs .mdhouseslide h4 {
    margin: 1px 0 0 0;
}

.mainhead .centheads .keyemojs {
    position: absolute;
    width: 70px;
    right: -62px;
    top: -4px;
	-webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.partnersincr {
    padding-top: 50px;
}

.mdhouseslide a br {
    display: none;
}

.mdhouseslide .owl-carousel .rdmorecta img {
    width: 80px;
    display: block;
}


.txstrks {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.txstrks svg {
    fill: none;
    stroke: #35d05c;
    stroke-width: 0px;
    stroke-miterlimit: 10;
    stroke-dasharray: 373;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: -16%;
    left: 0;
    transform: rotate(0deg);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
   
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 74px;
    width: 100%;
}


.showcaseytbs.revealer.aos-init.aos-animate h2:hover .txstrks svg,
.innershowsl.revealer.aos-init.aos-animate h2:hover .txstrks svg {
    stroke-dashoffset: 0;
	stroke-width: 1.5px;
}

.mobsets {
    max-width: 250px;
    margin: auto;
    background: url(./images/mobcovnew2.png?v=3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    /* background-color: #fff; */
    overflow: hidden;
    border-radius: 42px;
    padding: 0px 8px;
	
}

.mobsets .item {
    padding: 30px 0 48px;
}

/* css for numers services */


.servnumcounts {
    padding-top: 35px;
    text-align: center;
}

.servnumcounts .numctn {
    font-family: 'Proxima Nova';
    font-size: 44px;
    margin: 0;
    font-weight: 700;
}

.servnumcounts  p {
    font-family: 'Proxima Nova';
    font-size: 20px;
    line-height: 21px;
    margin: 20px 0 0 0;
    font-weight: 700;
}

.ouytbservice {
    padding: 60px 0;
}

.servnumcounts  .skblues {
    color: #37b8e3;
}


.servnumcounts .rednums {
    color: #ef5018;
}

.servnumcounts .yelnums {
    color: #f3c32b;
}

.membslides img {
    width: 100%;
}


.ytthemects {
    position: relative;
    border: 1.5px solid;
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    background-color: #fff;
    text-transform: uppercase;
    color: #000;
    font-family: 'Proxima Nova';
    font-weight: 700;
    box-shadow: 6px 6px 0  #000;
    text-decoration: none;
    width: 132px;
}

.ytthemects::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 1px;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}

.ytthemects::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 1px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}

.ytthemects:hover {
    top: 4px;
    right: -6px;
    box-shadow: 0px 0px 0 #404040;
}

.stepform .ytthemects {
    margin: 0 10px;
}

.ytthemects:focus {
    outline: none;
}

.ytthemects:hover::before {
    left: 1px;
    bottom: 0px;
}

.ytthemects:hover::after {
    right: 0;
}

 .ytthemects {
    text-decoration: none;
}

.ytthemects:hover {
    color: #000;
    text-decoration: none;
}

.progrmsfrms .mainhead .centheads {
    font-size: 36px;
    margin-bottom: 0;
}

.progrmsfrms {
    padding: 50px 0 100px 0;
}

.mnformsty .form-control {
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 20px;
}

.mnformsty label {
    margin-bottom: 20px;
}

.mnformsty .custom-control label.custom-control-label {
    margin: 0;
}

section {
    overflow: hidden;
}

/* css animation for emojis */

@keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }
 
 
 @keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}


.centheads  .flapswing {
    position: absolute;
    right: -63px;
    width: 72px;
    top: -59px;
    /* animation: swing ease-in-out 3s infinite; */
    transition: 0.9s ease-in-out;
}

.cultur-comps {
    padding: 60px 0;
    margin: 51px 0 0 0;
}


.skblues {
    color: #37b8e3;
}

.handemos {
    width: 16px;
}

.cultur-comps .seelike  h6 {
    margin: 0px auto 20px;
   
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Proxima Nova';
    font-size: 24px;
}

.seelike p {
    font-size: 18px;
    margin: 0;
}

.cultur-comps .mainhead {
    margin-bottom: 5px;
}

.casestslide a {
    text-decoration: none;
}

.centheads .flapswing.conemojis {
    bottom: 0;
    top: inherit;
    right: -30px;
    width: 57px;
}

.cultur-comps h4 {
    font-family: 'Proxima Nova';
	    color: #000;
}

.cultur-comps a {
    color: #000;
}

.mnformsty textarea.form-control {
    height: 200px;
}

.contactsmids {
    max-width: 800px;
    margin: auto;
}

.mapopn {
    padding-top: 50px;
}

.mapopn iframe {
    width: 100%;
    height: 469px;
}

@keyframes swing {
    0% {
        opacity: 1;
        transform: perspective(600px) rotateX(0);
        transform-origin: center top;
        animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
    }
    50% {
		opacity: 1;
        transform: perspective(600px) rotateX(-10deg);
        transform-origin: center top;
        
    }
    100% {
        opacity: 1;
        transform: perspective(600px) rotateX(0);
        transform-origin: center top;
        
    }
}

/* Animation typewriter */


@keyframes typewriter{
  from{width: 0%;}
  to{width: 100%;}
}




/* css footers  */


.yt-footh .backshadows {
    background: #000;
    padding: 0;
    position: relative;
    margin: 40px 0 0 0;
}

.yt-footh:after {
    content: "";
    position: absolute;
    top: -82px;
    width: 100%;
    height: 21%;
    background: url(./images/footerabolayer.png);
    background-size: cover;
    background-position: left;
}

.yt-footh {
    background: #000;
    margin: 0px 0 0 0;
    padding: 1px 0 0 0;
    position: relative;
	transition: all ease 0.5s;
    /*transform: rotateX(70deg) translateZ(76px);*/
}

/* for white theme footer */

.yt-footh.white-ftrs,
.yt-footh.white-ftrs .backshadows {
    background: rgb(255, 255, 255);
}

.yt-footh.white-ftrs h4, .yt-footh.white-ftrs ul li a, .yt-footh.white-ftrs p {
    color: #000;
}

.yt-footh.white-ftrs .bottomstrips img,
.yt-footh.white-ftrs:after {
    filter: invert(1);
}



/* for black theme footer */

.yt-footh.black-ftrs {
    background: #000;
}

.yt-footh.black-ftrs .backshadows{
    background: #000;
}


.yt-footh.black-ftrs h4, .yt-footh.black-ftrs ul li a, .yt-footh.black-ftrs p {
    color: #fff;
}

footer.yt-footh.revealer.aos-init {
    transform: rotateX(70deg) translateZ(76px);
}

footer.yt-footh.revealer.aos-init.aos-animate {
    transform: none;
}



.yt-footh  h4,
.yt-footh ul li a,
.yt-footh  p {
    font-family: 'Proxima Nova';
    color: #fff;
}

.yt-footh  p{
	font-family: 'Proxima Nova Rg';
}

.yt-footh ul {
    list-style-type: none;
    padding: 0;
}

.bottomstrips img {
    float: right;
    width: 67px;
}

.bottomstrips  ul li {
    display: inline-block;
    margin: 0 5px;
}

.bottomstrips ul li i {
    font-size: 24px;
}

.bottomstrips {
    padding: 40px 0;
}


.yt-footh ul li {
    margin-bottom: 10px;
}

.yt-footh p img {
    width: 15px;
    position: relative;
    top: -4px;
    left: 2px;
}

.yt-footh ul li a {
    text-transform: uppercase;
    font-weight: 700;
}

.yt-footh ul li a:hover {
    text-decoration: none;
}


/* css for yb work */

.cultureshowcase {
    position: relative;
    padding-bottom: 50px;
	overflow: inherit;
}

.rightflowrs {
    position: absolute;
    right: -48px;
    top: -40px;
    width: 169px;
}

.outstls {
    padding: 20px;
    position: relative;
    padding-bottom: 0;
	
    margin: auto;
}

.outstls:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    border: 2px solid;
    width: 96%;
    height: 95%;
}

.outstls .owl-nav {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #fff;
}

.outstls .owl-carousel.owl-theme .owl-nav button {
    margin: 0 !important;
    padding: 0 7px !important;
    overflow: hidden;
}

.outstls .owl-nav button span {
    padding: 0 9px;
    font-size: 20px;
    color: #000;
    height: 20px;
    width: 20px;
}


.outstls .owl-carousel.owl-theme .owl-nav .owl-next span {
    background: url('./images/nextarr.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav button span {
    font-size: 0;
    padding: 10px;
    width: 85px;
    display: inline-block;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav .owl-prev span {
    background: url(./images/prevarr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav button:hover, .outstls .owl-carousel.owl-theme .owl-nav button:focus {
    background: transparent;
    outline: none;
}


.wrk {
    padding: 20px;
    max-width: 98%;
    margin: auto;
    margin-bottom: 72px;
}

.frmpnk {
    background: #f35aed;
}

.frmskv {
    background: #37b8e3;
}

.frmyel {
    background: #ffdb00;
}

.frmorgs {
    background: #f05018;
}

.wrk  h4 {
    text-transform: uppercase;
    font-size: 31px;
    position: relative;
    top: -53px;
}


.opps-services {
    padding: 50px 0 0;
}

.wrk p {
    position: relative;
    top: -41px;
    width: 80%;
}

.wrk img {
    width: 100%;
}

.workconts {
    max-width: 800px;
    margin: auto;
	padding-top: 50px;
}


.jobslts {
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid #37b8e3;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.jobslts h4 img {
    width: 17px;
    float: right;
    position: relative;
    top: 9px;
}

.jobslts h4 img {
    transform: rotate(134deg);
    transition: all ease 0.5s;
}

.jobslts .collapsed img {
    transform: rotate(0deg);
}

.jobslts h4 {
    cursor: pointer;
}


.lastfrms {
    padding: 50px 0 50px 0;
}

.jobslts:last-child {
    border: none;
}

.lastfrms h4 {
    font-size: 27px;
    margin-bottom: 20px;
	    margin-top: 30px;
}

.lastfrms .mainhead {
    margin-bottom: 10px;
}

.coolstds {
    position: relative;
}

.coolstds img {
    position: absolute;
    width: 70px;
    left: -5px;
    z-index: -2;
}

.jbopenings{
	padding-top: 40px;
}

.jbopenings .coolstds img {
    width: 184px;
    left: -35px;
    top: -13px;
}



/* our services */


.innrbanner {
    height: 100vh;
    display: flex;
	    position: relative;
}

.sunbom {
    position: absolute;
    left: 80px;
    width: 59px;
    z-index: -2;
    bottom: -13px;
}

.innrbanner:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000007a;
    left: 0;
    z-index: -1;
}

.innrbanner .desktopayout {
    position: absolute;
    top: 0;
    width: 100%;
	z-index: -2;
}

.innrbanner .mainhead.whithd .sbhds {
    margin-bottom: 20px;
}

.innrbanner .container {
    margin: auto;
}

.mainhead.whithd .centheads,
.mainhead.whithd .sbhds {
    color: #fff;
}

.innershowsl .txstrks svg {
    stroke: #63ed29;
}

.usptargt {
    background: #000;
    padding: 47px 0 0 0;
    position: relative;
    overflow: inherit;
}

.usptargt p b{
    color: #fff;
}

.usptargt:before {
    content: "";
    position: absolute;
    top: -105px;
    width: 100%;
    height: 55%;
    left: 0;
    background: #000;
    clip-path: polygon(27% 0, 0 28%, 123% 29%);
    z-index: -2;
}

.usptargt:after {
    content: "";
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 15%;
    left: 0;
    background: #000;
    clip-path: polygon(0% 2%, 70% 58%, 101% -1%);
   
}

.usptargt p b, b {font-family: 'Proxima Nova';}

.genfrs .fltsbt {
    position: absolute;
    width: 82px;
    bottom: 50px;
	z-index: 3;
}

.genfrs img {
    width: 80%;
}

.usptargt .genfrs p {
    color: #2568ef;
    font-family: 'Caveat';
    right: 20px;
    position: absolute;
    top: 0;
    font-size: 20px;
}

.genfrs {
    text-align: center;
}


.usps img {
    width: 75%;
    animation: mainmarq 10s linear 0s infinite;
    position: relative;
    margin: auto;
}

.usps {
	    display: flex;
    overflow: hidden;
    transform: rotate(-3deg);
    background: #fb5018;
    margin: 30px 0;
}

.thswhys p {
    font-family: 'Proxima Nova';
    font-size: 20px;
}

.thswhys {
    padding: 45px 0;
}

.whyybt-rights {
    padding: 100px 0 50px 0;
    background: #f6f6f6;
}


.desktopayout {
    position: absolute;
    top: 152px;
    width: 100%;
}

.pygrphs {
    max-width: 1030px;
    margin: auto;
}

.pygrphs img {
    width: 100%;
}

.pygrphs .targars {
    position: absolute;
   right: -2px;
    top: 88px;
    width: 191px;
}

.pygrphs p {
    font-family: 'Proxima Nova';
    padding: 24px 80px;
    font-size: 18px;
}

.txemojs {
    width: 20px;
    position: relative;
    top: -3px;
}

.numstsd {
    font-size: 120px;
    color: #ee5018;
}

.pygrphs .mainhead .centheads {
    font-size: 36px;
    line-height: 40px;
}

.whyytmrk {
    overflow: inherit;
    padding: 139px 0 70px;
    background: #ee5018;
    clip-path: polygon(13% 0, 100% 6%, 100% 100%, 0 100%, 0 6%);
    
}

.whitetxt, .whitetxt p,
.whitetxt .centheads,
.whitetxt h1,  .whitetxt h2, .whitetxt h3, .whitetxt h4, .whitetxt h5, .whitetxt h6{
    color: #fff;
}

.whyytmrk h4 {
    font-size: 40px;
    margin: 53px 0 0 0;
}

.ytmarkts {
    padding-top: 0px;
    background: #f6f6f6;
}

.whyytmrk p {
    width: 57%;
}

.gnround {
    position: absolute;
    right: -37px;
    top: -53px;
    width: 109px;
	    animation: roundtxan 10s linear 0s infinite;
}

@keyframes roundtxan {
    0%   {transform: rotate(0deg);}
   100% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}   
}

@keyframes mainmarq {
   0% { left: 0; }
    50% {left: -50%;}
  100% { left: -100%; }
}

/* lets business section */

.icnclrn img {
    width: 100%;
}

.icnclrn {
    width: 85px;
    margin: 0 auto auto 0;
}

.iconrowss {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.icparans {
    width: 80%;
}

.icparans p {
    margin: 0;
}

.icparans h6 {
    font-size: 20px;
    font-weight: 700;
}

.letstaskabs {
    padding: 100px 0 50px;
}

.ladylurights {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 550px;
    top: 8%;
}

.poinrsd {
    padding-top: 35px;
    position: relative;
}

.letstaskabs p {
    padding-top: 25px;
}

.letstaskabs .iconrowss p {
    padding-top: 0;
}

/* testimonials section */

.testimons-ytb {
    padding: 70px 0 0;
}

.testslid {
    position: relative;
    padding: 10px;
}


.testimons-ytb .usertstm {
    font-family: 'Proxima Nova';
    background: #000;
    color: #fff;
    margin: 0;
    display: inline-block;
    padding: 12px 18px;
    position: relative;
    top: -7px;
    z-index: 3;
    left: -3px;
    box-shadow: inset #fff 0px 0px 0px 3px;
}

.testimons-ytb .usertstm:before {
    content: "";
    position: absolute;
    z-index: 4;
    left: 0px;
    bottom: -6px;
    height: 8px;
    width: 98%;
    left: 6px;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    background-color: #000;
}

.testimons-ytb .usertstm:after {
    position: absolute;
    content: "";
    right: -6px;
    height: 85%;
    width: 7px;
    bottom: -1px;
    transform: skewY(45deg);
    -webkit-transform: skewY(45deg);
    background-color: #000000;
 }

.testimons-ytb .item {
    padding: 10px;
}

.testslid .item .dv-shads{
    padding: 20px;
    position: relative;
    z-index: 9;
    min-height: 176px;
}

.testslid .item .dv-shads:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    top: 0;
    box-shadow: inset #000 -3px -3px 1px 4px;
    clip-path: polygon(99% 0, 100% 4%, 100% 60%, 100% 100%, 0 100%, 0% 63%, 0 0);
}


.slidertst-ytb .owl-nav button {
    margin: 0 !important;
    padding: 0;
    height: 5px;
    line-height: 0;
}

.slidertst-ytb .owl-nav button span {
    width: 54px;
    font-size: 0;
    background: url('./images/arrowtst.png');
    padding: 29px;
    background-size: contain;
    background-repeat: no-repeat;
}

.slidertst-ytb .owl-nav .owl-next {
    float: right;
}

.slidertst-ytb .owl-nav .owl-prev {
    float: left;
    transform: rotateY(180deg);
}

.testslid .owl-theme .owl-nav {
    max-width: 162px;
    margin: 50px auto 0 auto;
}

.slidertst-ytb.owl-theme .owl-nav [class*=owl-]:hover,
.slidertst-ytb.owl-theme .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}

/* yb become creator page */

.connectcrts {
    background: #000;
    position: relative;
    padding: 60px 0;
    height: 643px;
}

.slidechngrs {
    max-width: 80%;
}


.connectcrts .mainhead.whithd {
    color: #fff;
    position: absolute;
    bottom: -83px;
    z-index: 4;
    left: 118px;
    margin: 0;
}

.connectcrts .mainhead.whithd .curvtxt {
    position: absolute;
    top: 23px;
    right: -115px;
    font-family: 'Caveat';
    color: #ffdb00;
    font-size: 22px;
}

.connectcrts .mainhead .sbhds {
    font-size: 20px;
}

.connectcrts .mainhead.whithd .centheads {
        font-size: 74px;
    line-height: 69px;
    margin-bottom: 12px;
}

.connectcrts .mainhead.whithd .sbhds {
    font-size: 17px;
}

.connectcrts .container {
    position: relative;
}

.innershowsl {
    position: relative;
}

.innershowsl  .mainhead .centheads{
    font-size: 70px;
    line-height: 66px;
}

.innershowsl {
    height: 637px;
    padding: 50px 0;
}

.innershowsl .desktopayout {
    top: 0;
}

.tags-ytb {
    display: inline-flex;
	    margin-bottom: 16px;
}

.tags-ytb span {
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    padding: 0px 17px;
    color: #000;
    font-size: 32px;
    border-radius: 30px;
    margin: auto 7px;
    font-weight: 700;
}

.tags-ytb.orng-cl span {
    background: #fb5018;
}

.tags-ytb img {
    width: 55px;
	margin: auto;
}

.tags-ytb.skblu-cl span {
    background: #37b7e2;
}

.tags-ytb.yllw-cl span {
    background: #ffe600;
}

.tags-ytb.pinks-cl span {
    background: #ee00e3;
}

.tags-ytb.grng-cl span {
    background: #63ed29;
}

.whatin-yb {
    padding: 50px  0;
}

.tags-ytb.grng-cl img {
    width: 100px;
}

.innershowsl .mainhead p {
    font-size: 19px;
}

/* new testimonial slders */

.testimons-nwytb {
    padding: 50px 0 0;
}

.txtpp {
    position: relative;
    height: 420px;
}

.popcolt {
    padding: 0px;
    position: absolute;
    bottom: 0;
    transform: translateY(0px);
    width: 100%;
    transition: all ease 0.5s;
    background: #f35aed;
}

.popcolt .usertstm {
    font-family: 'Proxima Nova';
    display: block;
    margin: 0;
}

.popcolt p {
    transform: translateY(0px);
    transition: all ease 0.5s;
    padding: 9px;
    position: absolute;
    min-height: 100px;
    top: 0;
    width: 100%;
}

.popcolt  .usertstm {
    transform: translateY(0px);
    position: relative;
    background: #f35aed;
    min-height: inherit;
    transition: all ease 0.5s;
}

.txtpp:hover .popcolt p {
    display: block;
    transform: translateY(-134px);
    margin: 0;
    background: #f35aed;
    min-height: 100px;
}

.txtpp:hover .popcolt {
    transform: translateY(51px);
}

.txtpp:hover .popcolt .usertstm {
    transform: translateY(-51px);
    min-height: inherit;
}

.owl-item.active:nth-child(2) .popcolt, .owl-item.active:nth-child(2) .popcolt p,
.owl-item.active:nth-child(4) .popcolt, .owl-item.active:nth-child(4) .popcolt p,
.owl-item.active:nth-child(6) .popcolt, .owl-item.active:nth-child(6) .popcolt p {
    background: #37b7e2;
}

.owl-item.active:nth-child(3) .popcolt, .owl-item.active:nth-child(3) .popcolt p,
.owl-item.active:nth-child(5) .popcolt, .owl-item.active:nth-child(5) .popcolt p {
    background: #ffe600;
}

.owl-carousel .owl-item .quoteic {
    position: absolute;
    width: 48px;
    top: 55px;
    z-index: 3;
    right: -18px;
}


/* css our work main */

.howwedeliv-ytb {
    height: 618px;
    display: flex;
	padding: 80px 0; 
	    background: #000;
}

.howwedeliv-ytb .desktopayout {
    top: 0;
	clip-path: polygon(100% 0, 100% 100%, 76% 91%, 0 99%, 0 0);
}

.howwedeliv-ytb .container {
    margin: auto;
    position: relative;
    z-index: 4;
}

.howwedeliv-ytb .mainhead img {
    width: 34px;
    position: relative;
    top: -9px;
}

.howwedeliv-ytb:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000078;
}

.howwedeliv-ytb h4 {
    color: #fff;
    margin: 20px 0;
}


.howwedeliv-ytb  .owl-nav button {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 44px;
}

.howwedeliv-ytb  .owl-nav button span {
    width: 40px;
    font-size: 0;
    background: url('./images/arrowside.png');
    padding: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.howwedeliv-ytb  .owl-nav .owl-next {
    float: right;
}

.howwedeliv-ytb  .owl-nav .owl-prev {
    float: left;
    transform: rotateY(180deg);
}

.howwedeliv-ytb  .owl-nav {
    padding: 13px 0 0 0;
}

.howwedeliv-ytb .owl-theme .owl-nav [class*=owl-]:hover,
.howwedeliv-ytb .owl-theme .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}

.howwedeliv-ytb .owl-nav button span {
    filter: invert(1);
}

/* case study css */

.ytmarkts.caseinfos {
    clip-path: polygon(0 0, 100% 0, 100% 91%, 75% 100%, 0 94%, 0% 50%);
}

.ytmarkts.caseinfos .whyytmrk {
    clip-path: none;
	    padding: 60px 0 70px;
}


.ytmarkts.caseinfos .genfrs  img {
    width: 100%;
}

.ytmarkts.caseinfos .genfrs .fltsbt {
    width: 82px;
    bottom: 7px;
}

.caseinfos .whyytmrk p {
    width: 92%;
}


.ytmarkts.caseinfos .mainhead {
    margin-bottom: 19px;
}

.ytmarkts.caseinfos .mainhead .centheads {
    font-size: 35px;
    margin: 0;
}

.ytmarkts.caseinfos .whyytmrk h6 {
    font-size: 22px;
    max-width: 342px;
}


.key-ybvisuals {
    padding: 70px 0;
}

.key-ybvisuals h3 {
    font-size: 66px;
    text-transform: uppercase;
    color: #000;
    line-height: 58px;
	margin-bottom: 40px;
	 position: relative;
}

.key-ybvisuals h3:after {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 100%;
    background: url('./images/keyvisu-strokes.png');
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -5px;
    z-index: -2;
}

.key-ybvisuals .outstls {
    margin-bottom: 30px;
}

.showcs-ytbs .col-md-6 h4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.showcs-ytbs .col-md-6:nth-child(2) {
    background: #ffcf39;
}


.strbcks {
    position: relative;
}

.strbcks  img {
        position: absolute;
    width: 50px;
    left: 125px;
    bottom: -21px;
}

.ytthemects.strbcks {
    z-index: 4;
}

.showcs-ytbs h5 {
    font-size: 36px;
    margin-bottom: 40px;
}

.mnformsty .dropdown-menu label {
    display: block;
    padding: 3px 7px;
    margin-bottom: 0;
}



.mnformsty .dropdown-toggle.form-control {
    text-align: left;
}

.mnformsty .dropdown-toggle.form-control span.dropdown-text {
    width: 93%;
    display: inline-block;
}


.mnformsty label {
    text-align: left;
    width: 100%;
}

.mobsets:after {
    content: "";
    position: absolute;
    top: 0;
    /*background: url('./images/uppercut.png');*/
    width:100%;
    height:40px;
    left: 0;
    background-repeat: no-repeat;
    max-width: 231px;
    background-size: contain;
    right: 0;
    top: 22px;
    margin: auto;
}


/* new form layout css */

.mnformsty.singlefrms {
    max-width: 618px;
    margin: auto;
   /* height: 288px; */
    display: flex;
    text-align: center;
    flex-direction: column;
}

.mnformsty.singlefrms .stepform form {
    width: 100%;
    margin: auto;
}

.stepform {
    margin: auto;
    /*display: none;*/
    width: 100%;
}

.tags-ytb img {
    display: none;
}

.connectcrts.grymd img {
    filter: grayscale(1);
    transition: all ease 0.5s;
}

.connectcrts.grymd img:hover {
    filter: none;
}

.connectcrts.grymd{
    padding-top: 100px;
}

.txstrks{
    max-width: 83px;
    width: 62px;
}

.txstrks.btxe {
    width: 90px;
    max-width: initial;
}

.mainhead .centheads .keyemojs {
    display: none;
}

/* pop ups on shows */

.popups {
    max-width: 480px;
    margin: auto;
    background: #fff;
    padding: 6px;
    position: fixed;
    top: 17%;
    left: 0;
    right: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: #c9c2c2 0px 0px 4px 0px;
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
}

.disclaim.popups.open {
    opacity: 1;
    visibility: visible;
}

.popups img {
    width: 100%;
}

.popups  .swmainlogos {
    max-width: 55px;
    margin: 10px 0 35px;
}

.popups  .blackhds {
    font-size: 26px;
    line-height: 25px;
}

.popups .orgctms {
    color: #fe6902;
}

.popups .hsmds {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 25px;
}

.popups p {
    font-size: 12px;
    margin-bottom: 8px;
}

.popups .closectas {
    position: absolute;
    right: 14px;
    top: 5px;
    font-size: 26px;
    z-index: 6;
}

/* css for responsive media */


@media screen and (max-width: 767px) and (min-width: 320px){

    .popups {
        height: 546px;
        overflow-y: scroll;
        width: 92%;
        top: 11%;
    }
    
    .popups img {
        margin-top: 18px;
    }

    .fstfoldes .col-md-6:nth-child(2) .objflts.bomonsd {
        width: 25px;
        position: absolute;
        transform: translate(-13px, 16px);
    }

    .letstaskabs p br {
        display: none;
    }
    
    .ladylurights {position: relative;right: 0;margin-bottom: 20px;}
    
    .poinrsd {
        padding-top: 0;
    }
    
    .icnclrn {
        margin-bottom: 0;
        margin-right: 25px;
    }
    
    .whyybt-rights {
        padding: 51px 0 50px 0;
    }

    .pygrphs .mainhead .centheads {
        font-size: 30px;
        line-height: 35px;
    }
    
    .pygrphs .mainhead .centheads br {
        display: none;
    }

    .numstsd{ font-size: 90px; }

    .usptargt:after {
        clip-path: polygon(-76% 5%, 92% 49%, 101% 19%);
        height: 17%;
    }
    
    .thswhys {
        padding: 25px 0;
    }

    .letstaskabs{
        padding: 76px 0 38px;
    }

    .cremg h2 br {
        display: none;
    }

    .mdhouseslide.desktlyts {
        display: none;
    }
    
    .mdhouseslide.moblyts {
        display: block; 
    }
    
    .homebannnerk .cregreen {
        background: url(./images/girlmovesmobile.png);
        height: 100%;
        background-size: cover;
    }

    .innershowsl {
        height: auto;
        padding: 50px 0 0;
    }
    
    .testslid,
    .testimons-ytb .item{padding: 0px;}

	.outstls:after{
        height: 89%;
    top: 30px;
    width: 89%;
    left: 7px;
	}

    .outstls .owl-nav {
        width: 145px;
    }

    .outstls .owl-carousel.owl-theme .owl-nav button span {
        width: 57px;
        display: inline-block;
        height: 16px;
        padding: 5px 0;
    }

    .rightflowrs {
        right: 0px;
        width: 85px;
        top: -11px;
    }

	.workconts .col-6.col-md-6 {
    padding: 0 5px;
}

.strbcks .ytthemects {
    padding: 7px 11px;
	
}

.workconts .wrk {
    margin-bottom: 44px;
    padding: 9px;
    min-height: 242px;
}

.key-ybvisuals h3 {
    font-size: 47px;
    line-height: 49px;
    margin-bottom: 35px;
}

.key-ybvisuals h3:after {
    height: 62px;
}

.whyytmrk p {
    width: 100%;
}

.innrbanner .desktopayout {
    width: 237%;
}

.innrbanner {
    height: 400px;
}

.innrbanner .mainhead .centheads br {
    display: none;
}

.innrbanner .sunbom {
    width: 38px;
    left: 90px;
}


.usptargt:before {
    width: 100%;
    height: 36%;
    top: -76px;
}

.gnround {
    right: -21px;
    top: -38px;
    width: 81px;
}

.whyytmrk h4 {
    font-size: 28px;
    margin: 25px 0;
}

.whyytmrk h4 br {
    display: none;
}

.whyytmrk {
    padding: 70px 0 70px;
}

.whyybt-rights .desktopayout {
    width: 307%;
}

.wrk p {
    width: 100%;
    top: -27px;
    margin: 0;
    font-size: 13px;
}

.wrk h4 {
    font-size: 21px;
    top: -35px;
    margin: 0;
}

.wrk img {
    top: -7px;
    position: relative;
}

.yt-footh p br {
    display: none;
}

.workconts {
    padding-top: 30px;
}

.jbopenings .coolstds img {
    width: 137px;
    left: -29px;
}

.connectcrts .mainhead.whithd {
    left: 0;
}

.connectcrts .mainhead.whithd .centheads {
    font-size: 38px;
    line-height: 42px;
}

.connectcrts .mainhead.whithd .curvtxt {
    right: -50px;
}

.connectcrts {
    height: 429px;
}

.tags-ytb span {
    font-size: 20px;
}

.innershowsl .desktopayout {
    width: 188%;
    left: -40%;
}

.mnformsty.singlefrms {
    height: auto;
}

.mobcton.commctas {
    margin: auto;
    max-width: 157px;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    border: 1.5px solid #fff;
    padding: 5px 6px;
    border-radius: 37px;
}


.mobcton.commctas .nav-link {
    padding: 0px 8px;
    color: #fff;
    font-family: 'Proxima Nova';
    border-radius: 30px;
    font-size: 12px;
}

.mobcton.commctas .nav-link.active {
    background: #fff;
    color: #000;
}

.tags-ytb img {
    width: 33px;
}

.tags-ytb.grng-cl img {
    width: 50px;
}

.tags-ytb {
    margin-bottom: 8px;
}

.innershowsl .mainhead .centheads {
    font-size: 31px;
    line-height: 31px;
}

.txtpp {
    height: 276px;
}

.popcolt .usertstm {
    transform: translateY(-135px);
}

.popcolt p {
    transform: translateY(92px);
}

.popcolt {
    transform: translateY(147px);
}

.centheads .flapswing{
    width: 47px;
}

.centheads .flapswing{
    right: -47px;
}
	
.cultur-comps {
    margin: 0px 0 0 0;
    padding-bottom: 18px;
}

.lastfrms h4 {
    font-size: 30px;
}

.coolstds img {
    width: 75px;
}

.mdhouseslide .owl-item.active:nth-child(even) {
    padding-top: 0;
}

.showcs-ytbs .col-md-6:nth-child(2) {
    padding: 50px 30px;
}

.ytmarkts.caseinfos {
    padding-top: 0;
}

.howwedeliv-ytb {
    height: 100vh;
    padding: 31px 0;
}

.howwedeliv-ytb .desktopayout {
        top: 0;
    clip-path: polygon(100% 0, 100% 100%, 91% 93%, 0 109%, 0 0);
    width: 240%;
    left: -500px;
}

body {
    padding-top: 49px;
}
	.mainhead .centheads {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 17px;
}

.mainhead .sbhds {
    font-size: 15px;
}


.servnumcounts .col-md-4 {
    margin-bottom: 40px;
}

.yt-footh:after {
    height: 4%;
    top: -25px;
}

.progrmsfrms{
    padding: 50px 0;
}

.yt-footh {
    padding: 38px 0 0 0;
}

.yt-footh .backshadows {
    margin: 14px 0 0 0;
}

.showcaseytbs .desktopayout {
    width: 321%;
    left: -107%;
}

.homebannnerk {
    min-height: auto;
    height: 84vh;
}

.homebannnerk .mobstopayout {
	position: absolute;
    top: 0;
    display: block;
	width: 100%;
}

.homebannnerk .mainbn-hd{
	    font-size: 24px;
}

.homebannnerk .str-yells img {
    width: 93px;
    left: -4px;
}

.layerfires {
    width: 353px;
    height: 368px;
    top: 109px;
    background: url(./images/flamesprd.png);
    background-size: cover;
}

@keyframes moveline{
	0%{
		height:0px;
	}
	100%{
		    height: 368px;
	}
}

.homebannnerk .container {
    margin-bottom: 42px;
}


.homebannnerk .desktopayout {
      display: none;
}

.mdhouseslide .owl-carousel .owl-item.active.center {
    transform: scale(1);
	    filter: none;
    transition: all ease 0.5s;
}

.mdhouseslide .owl-carousel .owl-item{
    transform: scale(0.8);
	    filter: grayscale(1);
        transition: all ease 0.5s;
}

.mdhouseslide .owl-carousel .owl-item h4{
	opacity:0;
}

.mdhouseslide .owl-item.active.center h4{
	opacity:1;
}

.blacklayers { 
    padding-top: 17px;
}

.partnrslide.owl-carousel img,
.blacklayers .owl-carousel .item img {
    width: 75%;
	margin:auto;
}



.partnersincr {
    padding-top: 10px;
}

.ouytbservice {
    padding: 30px 0 20px 0;
}

.container {
    max-width: 360px;
    width: 100%;
}

.showcaseytbs h2{
	font-size: 31px;
}

.site-header.topmain nav.navbar {
    padding: 0 10px;
    border: none;
	    max-width: 380px;
}

.site-header.topmain {
    padding: 0 7px;
}

.site-header.topmain .navbar-brand {
    border-right: none;
    padding: 5px;
    width: 49px;
}

.site-header.topmain.mobexheight.navfixed {
    padding: 0 10px;
}

.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 50%);
}

.progrmsfrms .mainhead .centheads {
    font-size: 26px;
    line-height: 26px;
}

.mainhead .centheads .keyemojs {
    width: 48px;
    right: -43px;
}

.centheads .anmemojs {
    width: 45px;
}


.site-header.topmain.heightexps .collapse:not(.show) {
    display: block;
    position: fixed;
    top: 0;
    background:#000;
    width: 100%;
    left: 0;
    padding: 20px;
    height: 100vh;
    transition: all ease 0.5s;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.site-header .navbar-light .navbar-toggler {
    z-index: 9;
    float: right;
    position: absolute;
    right: 19px;
    top: 13px;
    color: #fff;
    border-color: rgb(255 255 255 / 0%);
}

.site-header.topmain .collapse:not(.show) {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 20px;
    height: 100vh;
    transform: translateX(-630px);
    transition: all ease 0.5s;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.openhdas .fa-times {
    display: none;
}

.openhdas.crossshwos .fa-bars {
    display: none;
}

.openhdas.crossshwos .fa-times {
    display: block;
}

.site-header.topmain.white-hdr .collapse:not(.show) {
    background: #fff;
}

.site-header.white-hdr .navbar-light .navbar-toggler{
    color:#000
}


.site-header.topmain.white-hdr .navbar li.nav-item.commctas {
    border: 1.5px solid #fff;
}

.site-header.topmain .navbar .navbar-nav li {
    margin-bottom: 17px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: none;
    border: none;
    outline: none;
}

.site-header.topmain .navbar li.nav-item.commctas a {
    width: 100%;
    text-align: center;
}

.site-header.topmain .navbar .navbar-nav {
    margin-top: 35px;
}

.mnformsty {
    text-align: center;
}

.showcaseytbs .mdhouseslide{
	padding: 50px 16px 0 16px;
}

.bottomstrips img{
	    width: 51px;
}

.fstfoldes .col-md-6 a {
    margin:  71px 0;
}

.fstfoldes img {
    width: 240px;
}

.ytmarkts.caseinfos .genfrs img {
    margin-top: 40px;
}

.fstfoldes .col-md-6:nth-child(1) .objflts {
    left: 0px;
    width: 68px;
}

.fstfoldes:after {
    width: 100%;
    height: 50%;
    top: 0;
}

.fstfoldes .col-md-6:nth-child(2) .objflts {
    width: 60px;
    right: 85px;
}

}


@media only screen and (min-width: 732px) and (orientation: portrait)

{ /* for pixel devices */
    .container {
        max-width: 387px;
        width: 100%;
    }

    .mainhead .centheads{
        font-size: 40px;
    line-height: 39px;
    
    }

    .mdhouseslide h4 {
        font-size: 30px;
    }



}


@media screen and (max-width: 1920px) and (min-width: 1700px){
	
	.container,
.site-header.topmain nav.navbar	{
    max-width: 1500px;
}

p, .seelike p {
    font-size: 24px;
}

.thswhys p{    font-size: 30px;}

.slidechngrs {
    max-width: 75%;
}

.connectcrts {
    padding: 102px 0;
}

.connectcrts .mainhead.whithd .sbhds {
    font-size: 30px;
}

.connectcrts .mainhead.whithd .centheads {
    font-size: 110px;
    line-height: 99px;
    margin-bottom: 12px;
}

.connectcrts .mainhead.whithd {
    bottom: -141px;
}

.connectcrts .container {
    position: relative;
}

.cultur-comps .seelike h6 {
    font-size: 36px;
}

.ladylurights {
    max-width: 705px;
}

.icparans h6 {
    font-size: 30px;
}

.icnclrn {
    width: 144px;
}

.innrbanner, .howwedeliv-ytb{
    height: 86vh;
}

.homebannnerk {
    height: 80vh;
}


.letsyoubet {
    padding: 70px 0;
}




}