

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('./fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('./fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-Regular.woff2') format('woff2'),
        url('./fonts/Caveat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
	font-family: 'Proxima Nova Rg';
	    padding-top: 55px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Proxima Nova';
}

.site-header.topmain nav.navbar {
       border: 1.5px solid #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    max-width: 1186px;
    margin: auto;
    padding: 0;
}

.site-header.topmain {
    background: #000;
    padding: 13px 0;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
	transition:all ease 0.5s;
}

.site-header.topmain.mobexheight.navfixed {
        padding: 3px 0;
}

.site-header.topmain .navbar .navbar-nav li a {
    color: #fff;
	font-family: 'Proxima Nova';
	padding: 0 16px;
	text-transform: uppercase;
	    font-size: 15px;
}

.site-header.topmain .navbar-brand {
    margin: 0;
    padding: 11px 17px;
    width: 89px;
    text-align: center;
    border-right: 1px solid #fff;
}

.site-header.topmain .navbar-brand img {
    width: 100%;
}

.site-header.topmain .navbar .navbar-nav li {
       margin: auto 10px;
}


.site-header.topmain .navbar li.nav-item.commctas {
    display: flex;
    border: 1.5px solid #fff;
    padding: 7px 6px;
    border-radius: 37px;
}

.site-header.topmain .navbar li.nav-item.commctas .nav-link.active {
    background: #fff;
    color: #000;
}

.site-header.topmain .navbar li.nav-item.commctas .nav-link {
    border-radius: 37px;
    padding: 4px 19px;
	    margin: auto;
}


/* css for web page load */

.fstfoldes {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    left: 0;
    height: 100%;
    z-index: 9;
    display: flex;
    text-align: center;
}

.fstfoldes .co-md-6 {
    margin: auto;
}

.fstfoldes .row {
    margin: auto;
	    width: 100%;
}

.fstfoldes img {
    width:409px;
}

.fstfoldes:after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    z-index: -2;
}

.fstfoldes .objflts {
    position: absolute;
    width: auto;
}

.fstfoldes .col-md-6:nth-child(1) .objflts {
        width: 73px;
    left: -53px;
    z-index: -2;
    bottom: -24px;
    position: absolute;
}


.fstfoldes .col-md-6:nth-child(2) .objflts {
    width: 70px;
    right: 27px;
    top: -25px;
    z-index: 2;
    position: absolute;
}

.fstfoldes .col-md-6:nth-child(2) a img {
    z-index: 4;
    position: relative;
}

.fstfoldes .col-md-6  a {
    position: relative;
	 display: block;
    max-width: 411px;
    margin: auto;
}


/* home section design */


.homebannnerk {
    overflow: hidden;
     height: calc(100vh - 0px);
    min-height: 536px;
    width: 100%;
    position: relative;
}

.homebannnerk .desktopayout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.homebannnerk img {
    width: 100%;
}

.homebannnerk .mobstopayout {
    display: none;
}

.homebannnerk .desktopayout {
    display: block;
}




/* css for second section */

.mdhouseslide img {
    width: 100%;
}

.mdhouseslide h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 27px;
    margin: 20px 0 4px 0;
    font-family: 'Proxima Nova';
	    line-height: 30px;
}

.mdhouseslide a {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Proxima Nova';
}

.letsyoubet {
    padding: 40px 0;
}

.mainhead {
    text-align: center;
    margin-bottom: 42px;
	
}

.mainhead .centheads {
	font-weight: bold;
	font-family: 'Proxima Nova';
	font-size: 49px;
	line-height: 43px;
	margin-bottom: 24px; 
	position: relative;
	display: inline-block;
}

.centheads .anmemojs {
    width: 58px;
    position: absolute;
    left: -42px;
	    -webkit-animation-name: wobble;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
}

.mainhead .sbhds {
    margin-bottom: 0;
	font-family: 'Proxima Nova Rg';
	font-size: 24px;
	margin: auto;
}

.revealer.active .mainhead .sbhds,
.revealer.active p.curvtxt {
	animation: typewriter 8s, infinite normal;
	overflow: hidden;
    white-space: nowrap;
}

.mdhouseslide .col-md-3 {
    padding: 0 5px;
}

.mdhouseslide .col-md-3:nth-child(even) {
    margin-top: 61px;
}


.blacklayers .owl-carousel img {
    width: 50%;
    filter: grayscale(1);
}

.blacklayers img:hover {filter: none;transform: scale(1.1)  !important;}

.blacklayers {
    background: url('./images/slidebga.png');
    background-size: cover;
    padding: 47px 0;
    background-position: center;
}


.hhcase-txt {
    position: relative;
    overflow: hidden;
}

.hhcase-txt .cse-txts {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000b3;
    padding: 0px;
    color: #fff;
    left: 0;
    margin: auto;
    transform: translate(21px, 21px);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
}

.hhcase-txt .cse-txts p {
    position: absolute;
    margin: auto;
    bottom: 0;
    padding: 55px;
}

.hhcase-txt:hover .cse-txts {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}


.whygridsphn .owl-nav button {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 44px;
}

.whygridsphn .owl-nav button span {
    width: 40px;
    font-size: 0;
    background: url('./images/arrowside.png');
    padding: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.whygridsphn .owl-nav .owl-next {
    float: right;
}

.whygridsphn .owl-nav .owl-prev {
    float: left;
    transform: rotate(180deg);
}

.whygridsphn .owl-nav {
    padding: 50px 0 0 0;
}

.whygridsphn.owl-theme .owl-nav [class*=owl-]:hover,
.whygridsphn.owl-theme .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}


/* css for showcase section */


.showcaseytbs .desktopayout {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -2;
}

.showcaseytbs {
    position: relative;
	padding: 50px 0 0 0;
    top: -40px;

}

.showcaseytbs:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 23%;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: -2;
}

.showcaseytbs h2, .showcaseytbs p.curvtxt {
    color: #fff;
}

.showcaseytbs h2 {
    font-family: 'Proxima Nova';
    font-size: 43px;
}

.showcaseytbs p.curvtxt {
    font-family: 'Caveat';
	    font-size: 27px;
    line-height: 27px;
    margin: 0;
}

.showcaseytbs img {
    width: 100%;
}

.showcaseytbs .mdhouseslide {
    padding-top: 100px;
}

.showcaseytbs .mdhouseslide {
    padding-top: 100px;
}

.showcaseytbs .mdhouseslide p {
    font-weight: 600;
    margin: 20px 0 0 0;
}

.showcaseytbs .mdhouseslide h4 {
    margin: 20px 0 0 0;
}

.mainhead .centheads .keyemojs {
    position: absolute;
    width: 70px;
    right: -62px;
    top: -4px;
	-webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
}

.partnersincr {
    padding-top: 50px;
}

.mdhouseslide a br {
    display: none;
}

.mdhouseslide .owl-carousel a img {
    width: 80px;
    display: block;
}


.txstrks {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.txstrks svg {
    fill: none;
    stroke: #35d05c;
    stroke-width: 0px;
    stroke-miterlimit: 10;
    stroke-dasharray: 373;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: -16%;
    left: 0;
    transform: rotate(0deg);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
   
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 74px;
    width: 100%;
}


.showcaseytbs.revealer.active h2:hover .txstrks svg {
    stroke-dashoffset: 0;
	stroke-width: 1.5px;
}



/* css for numers services */


.servnumcounts {
    padding-top: 35px;
    text-align: center;
}

.servnumcounts .numctn {
    font-family: 'Proxima Nova';
    font-size: 44px;
    margin: 0;
}

.servnumcounts  p {
    font-family: 'Proxima Nova';
    font-size: 20px;
    line-height: 21px;
    margin: 20px 0 0 0;
}

.ouytbservice {
    padding: 60px 0;
}

.servnumcounts  .skblues {
    color: #37b8e3;
}

span {}

.rednums {
    color: #ef5018;
}

.yelnums {
    color: #f3c32b;
}

.membslides img {
    width: 100%;
}


.ytthemects {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    position: relative;
    z-index: 6;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 10px 0 9px;
    font-weight: 700;
    border-radius: 0;
    outline: 0;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,transform .3s cubic-bezier(.29,.11,.2,.96);
    transform-style: preserve-3d;
    padding: 11px 34px;
}

.ytthemects:before {
   content: '';
   position: absolute;
   display: inline-block;
   top: 0px;
   left: 7px;
   width: calc(93% + 10px);
   height: calc(100% + 9px);
   background: linear-gradient(267deg,transparent 6px,currentColor 6px,currentColor calc(100% - 6px),transparent calc(100% - 6px),transparent 100%);
   transition: .25s cubic-bezier(.22,.61,.36,1);
   transform: translateZ(-1px);
   -webkit-clip-path: inset(0 0 0 0);
   clip-path: inset(0 0 0 0);
   border: 1px solid #000;
}

.ytthemects:hover:before{
        top: 1px;
        left: 0px;
        height: calc(100% + -1px);
}

.ytthemects:hover {
    transform: translate3d(5px,5px,0);
}

.progrmsfrms .mainhead .centheads {
    font-size: 36px;
    margin-bottom: 0;
}

.progrmsfrms {
    padding: 50px 0;
}

.mnformsty .form-control {
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 20px;
}

section {
    overflow: hidden;
}

/* css animation for emojis */

@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }
 
 
 @keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}


.centheads  .flapswing {
    position: absolute;
    right: -63px;
    width: 72px;
    top: -59px;
     animation: swing ease-in-out 3s infinite; 
    transition: 0.9s ease-in-out;
}

.cultur-comps {
    padding: 60px 0;
    margin: 51px 0;
}


.skblues {
    color: #37b8e3;
}

.handemos {
    width: 16px;
}

.cultur-comps h6 {
    font-family: 'Proxima Nova';
    font-size: 18px;
}



.centheads .flapswing.conemojis {
    bottom: 0;
    top: inherit;
    right: -30px;
    width: 57px;
}

.cultur-comps h4 {
    font-family: 'Proxima Nova';
	    color: #000;
}

.cultur-comps a {
    color: #000;
}

.mnformsty textarea.form-control {
    height: 200px;
}

.contactsmids {
    max-width: 800px;
    margin: auto;
}

@keyframes swing {
    0% {
        opacity: 1;
        transform: perspective(600px) rotateX(0);
        transform-origin: center top;
        animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
    }
    50% {
		opacity: 1;
        transform: perspective(600px) rotateX(-10deg);
        transform-origin: center top;
        
    }
    100% {
        opacity: 1;
        transform: perspective(600px) rotateX(0);
        transform-origin: center top;
        
    }
}

/* Animation typewriter */


@keyframes typewriter{
  from{width: 0%;}
  to{width: 100%;}
}




/* css footers  */


.yt-footh .backshadows {
    background: #000;
    padding: 0;
    position: relative;
    margin: 40px 0 0 0;
}

.yt-footh:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 19%;
    background: url('./images/footerabolayer.jpg');
    background-size: cover;
    background-position: left;
}

.yt-footh {
    background: #000;
    margin: 0px 0 0 0;
    padding: 83px 0 0 0;
    position: relative;
	transition: all ease 0.5s;
	transform: rotateX(70deg) translateZ(76px);
}

.yt-footh.active{
	transform: none;
}



.yt-footh  h4,
.yt-footh ul li a,
.yt-footh  p {
    font-family: 'Proxima Nova';
    color: #fff;
}

.yt-footh  p{
	font-family: 'Proxima Nova Rg';
}

.yt-footh ul {
    list-style-type: none;
    padding: 0;
}

.bottomstrips img {
    float: right;
    width: 67px;
}

.bottomstrips  ul li {
    display: inline-block;
    margin: 0 5px;
}

.bottomstrips ul li i {
    font-size: 24px;
}

.bottomstrips {
    padding: 40px 0;
}


.yt-footh ul li {
    margin-bottom: 10px;
}

.yt-footh p img {
    width: 15px;
    position: relative;
    top: -4px;
    left: 2px;
}

.yt-footh ul li a {
    text-transform: uppercase;
}

.yt-footh ul li a:hover {
    text-decoration: none;
}


/* css for yb work */

.cultureshowcase {
    position: relative;
    padding-bottom: 50px;
	overflow: inherit;
}

.rightflowrs {
    position: absolute;
    right: 0;
    top: -45px;
    width: 153px;
}

.outstls {
    padding: 20px;
    position: relative;
    padding-bottom: 0;
	    max-width: 509px;
    margin: auto;
}

.outstls:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    border: 2px solid;
    width: 96%;
    height: 98%;
}

.outstls .owl-nav {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #fff;
}

.outstls .owl-carousel.owl-theme .owl-nav button {
    margin: 0 !important;
    padding: 0 7px !important;
    overflow: hidden;
}

.outstls .owl-nav button span {
    padding: 0 9px;
    font-size: 20px;
    color: #000;
    height: 20px;
    width: 20px;
}


.outstls .owl-carousel.owl-theme .owl-nav .owl-next span {
    background: url('./images/nextarr.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav button span {
    font-size: 0;
    padding: 10px;
    width: 85px;
    display: inline-block;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav .owl-prev span {
    background: url(./images/prevarr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.outstls .owl-carousel.owl-theme .owl-nav button:hover, .outstls .owl-carousel.owl-theme .owl-nav button:focus {
    background: transparent;
    outline: none;
}


.wrk {
    padding: 20px;
    max-width: 98%;
    margin: auto;
    margin-bottom: 72px;
}

.frmpnk {
    background: #f35aed;
}

.frmskv {
    background: #37b8e3;
}

.frmyel {
    background: #ffdb00;
}

.frmorgs {
    background: #f05018;
}

.wrk  h4 {
    text-transform: uppercase;
    font-size: 31px;
    position: relative;
    top: -53px;
}


.opps-services {
    padding: 50px 0;
}

.wrk p {
    position: relative;
    top: -41px;
    width: 52%;
}

.wrk img {
    width: 100%;
}

.workconts {
    max-width: 1000px;
    margin: auto;
	padding-top: 50px;
}


.jobslts {
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid #37b8e3;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.jobslts h4 img {
    width: 29px;
    float: right;
    position: relative;
    top: 9px;
}


.lastfrms {
    padding: 50px 0 50px 0;
}

.jobslts:last-child {
    border: none;
}

.lastfrms h4 {
    font-family: 'Proxima Nova Rg';
    font-size: 50px;
    margin-bottom: 20px;
}

.lastfrms .mainhead {
    margin-bottom: 10px;
}

/* css for responsive media */


@media screen and (max-width: 767px) and (min-width: 320px){
	.mainhead .centheads {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 17px;
}

.mainhead .sbhds {
    font-size: 15px;
}


.servnumcounts .col-md-4 {
    margin-bottom: 40px;
}

.yt-footh:after {
    height: 4%;
}

.yt-footh {
    padding: 38px 0 0 0;
}

.yt-footh .backshadows {
    margin: 14px 0 0 0;
}

.showcaseytbs .desktopayout {
    width: 321%;
    left: -107%;
}

.homebannnerk {
    min-height: auto;
    height: auto;
}

.homebannnerk .mobstopayout {
  
    display: block;
}

.homebannnerk .desktopayout {
      display: none;
}

.mdhouseslide .owl-item.active.center {
    transform: scale(1);
	    filter: none;
}

.mdhouseslide .owl-item{
    transform: scale(0.9);
	    filter: grayscale(1);
}

.mdhouseslide .owl-item h4{
	opacity:0;
}

.mdhouseslide .owl-item.active.center h4{
	opacity:1;
}

.blacklayers {
    
    padding-top: 17px;

}

.partnrslide.owl-carousel img {
    width: 76%;
	margin:auto;
}

.partnersincr {
    padding-top: 10px;
}

.ouytbservice {
    padding: 30px 0 20px 0;
}

.container {
    max-width: 350px;
    width: 100%;
}

.showcaseytbs h2{
	font-size: 31px;
}

.site-header.topmain nav.navbar {
    padding: 0 10px;
    border: none;
}

.site-header.topmain {
    padding: 0 7px;
}

.site-header.topmain .navbar-brand {
    border-right: none;
    padding: 5px;
    width: 49px;
}

.site-header.topmain.mobexheight.navfixed {
    padding: 0 10px;
}

.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 50%);
}

.progrmsfrms .mainhead .centheads {
    font-size: 26px;
    line-height: 26px;
}

.mainhead .centheads .keyemojs {
    width: 48px;
    right: -43px;
}

.centheads .anmemojs {
    width: 45px;
}


.site-header.topmain.heightexps .collapse:not(.show) {
    display: block;
    position: fixed;
    top: 0;
    background:#000;
    width: 100%;
    left: 0;
    padding: 20px;
    height: 100vh;
    transition: all ease 0.5s;
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.site-header .navbar-light .navbar-toggler {
    z-index: 9;
    float: right;
    position: absolute;
    right: 19px;
    top: 13px;
    color: #fff;
    border-color: rgb(255 255 255 / 0%);
}

.site-header.topmain .collapse:not(.show) {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 20px;
    height: 100vh;
    transform: translateX(-630px);
    transition: all ease 0.5s;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.openhdas .fa-times {
    display: none;
}

.openhdas.crossshwos .fa-bars {
    display: none;
}

.openhdas.crossshwos .fa-times {
    display: block;
}

.site-header.topmain .navbar .navbar-nav li {
    margin-bottom: 17px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: none;
    border: none;
    outline: none;
}

.site-header.topmain .navbar li.nav-item.commctas a {
    width: 100%;
    text-align: center;
}

.site-header.topmain .navbar .navbar-nav {
    margin-top: 35px;
}

.mnformsty {
    text-align: center;
}

.showcaseytbs .mdhouseslide{
	padding-top: 50px;
}

.bottomstrips img{
	    width: 51px;
}

}